# Description: Environment variables for the dashboard
# Usage: Copy this file to .env and set the values accordingly
# Note: Do not commit .env file to the repository
# Caution: .env files are overridden by the environment variables set in the server
#          See details in https://pypi.org/project/python-dotenv/
API_URL="example.com/api"
TTL=60  # Time to live in seconds
